form, .sub-section{
  display: block;
  width: 100%;
  padding: 25px $gutter;
  margin-top: 25px;
  border-top: 1px solid rgba($gray,0.25);
}

.sub-section {
  background: rgba($gray,0.05);
}

.form-item {
  padding: 25px 50px;
}

label {
  margin: 0px 0px 5px 0px;
  width: 25%;
  font-size: 0.8em;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: rgba($black,0.45);
}

input[type=text], textarea, select {
  border: none;
  outline: none;
  padding: 0.5em;
  margin: 5px 1px 0px 0px;
  font-size: 1rem;
  border: 1px solid rgba($gray,0.6);
  border-radius: $border-radius;
  //box-shadow: 0px 0px 1px 1px $gray;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: $white;
  background-image: linear-gradient(45deg, transparent 50%, $gray 50%), linear-gradient(135deg, $gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position-x: calc(100% - 20px), calc(100% - 15px), calc(100% - 2.5em);
  background-position-y: calc(1em + 20px), calc(1em + 20px), 25px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

textarea {
  border: 1px solid $gray;
}

input[type=checkbox]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border-radius: 4px;
  width: 2em;
  height: 2em;
  outline: none;
  position: relative;
  background: #fff;
  z-index: 50;
  border: 1px solid rgba($gray,0.6);
  cursor: pointer;
  @include transition(background 0.15s ease-in);

  &:hover, &:focus{
    background: $light-blue;
  }

  &:checked{
    background: rgba($blue,0.75);
    border: 1px solid $blue;
    &:hover{
      background: $blue;
    }
    &:after{
      position: relative;
      left: 0.5em;
      content: ' ';
      display: block;
      width: 0.5em;
      height: 1.25em;
      border-bottom: 3px solid $white;
      border-right: 3px solid $white;
      @include transform(rotate(45deg));
    }
  }
}

input[type=text]:focus, textarea:focus {
  border: 1px solid $bright-blue;
  background: $light-blue;
  @include transition(background 0.4s ease);
}

input[type=text]{
  display: inline-block;
}

.field {
  //margin: 15px 0;
  position: relative;
  border: 1px solid rgba($gray,0.6);
  padding: 0;
  label {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: block;
    width: 100%;
    z-index: 50;
    @include user-select(none);
  }
  input[type=text], textarea, select {
    padding-top: 32px;
    display: block;
    margin: 0;
    width: 100%;
    border: none;
  }

  input[type=checkbox] {
    margin: 30px auto 6px auto;
  }

  .sub-section__select{
    margin-top: 10px;
  }
}

.row {
  @extend %clearfix;
  width: 100%;
  margin: 0;

  .field {
    border-left: none;
    border-bottom: none;
  }
  .field:first-child{
    border-left: 1px solid rgba($gray,0.6);
  }

  &:last-child{
    .field{
      border-bottom: 1px solid rgba($gray,0.6);
    }
  }


}

.sub-section .row {
  margin-top: 10px;
}
