$blue: #006EA7;
$bright-blue: rgba(81, 203, 238, 0.8);
$light-blue: rgba(81, 203, 238, 0.1);
$red: #A32645;
$black: #333555;
$gray: #AFAFB1;
$light-gray: #f2f3f7;
$white: #fff;
$border-radius: 0px;
$gutter: 40px;
$small-gutter: 20px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin transform($arg){
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -ms-transform: $arg;
  -o-transform: $arg;
  transform: $arg;
}

@mixin horizontal-center {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin vertical-center {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@mixin center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin user-select($arg){
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -o-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}
